<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-thick-4 text-primary">Add Rewards</h1>
        <p class="lead">
            Rewards Included Here
        </p>
    </div>
  </div>
  <!--Secondary Nested View-->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form class="text-white">
            <div class="form-group">
              <label for="Title">Title</label>
              <input type="text" class="form-control" id="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="Bytes">Bytes</label>
                <input type="number" class="form-control" id="Bytes" placeholder="Bytes">
            </div>
            <div class="form-group">
                <label for="ImageUpload">Image Upload</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImageUpload">
                    <label class="custom-file-label" for="ImageUpload">Choose file</label>
                </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
