<html>
    <!--<head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div>TODO: Error Page</div>
    <div></div>
    <div></div>
    </body>-->

    <p>
      <strong></strong> <code></code>
    </p>

    <div class="container-fluid" style="padding: 100px 50px 100px 50px; background-color: #754486">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6 text-center">
          <img src="../../assets/images/error404.png" style="width:50%; height:100%;"/>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h1 class="display-2 text-white">{{message}}</h1>
          <p><em>{{details}}</em></p>
        </div>
      </div>
      <div class="row" style="margin: 30px 30px 30px 30px;">
        <div class="col text-center">
          <button type="button" class="btn btn-outline-warning">Go back</button>
        </div>
      </div>
    </div>
</html>

