<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-thick-4 text-primary">Mail</h1>
        <p class="lead">
            You've got mail!
        </p>
    </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <div class="d-flex d-row flex-wrap">
            <div class="card text-center outline" style="width: 100rem;">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link non-active active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="Read" aria-selected="true"> All </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link non-active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="Unread" aria-selected="false">Unread</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="all-tab">
                            <div *ngIf="all.length === 0">
                                <p class="h5 text-white">You have no mail. (Needs formatting)</p>
                            </div>
                            <ul *ngFor="let mail of all" class="list-group list-group-flush">
                                <li class="list-group-item outline-no-border">
                                    <div class="tab d-flex d-row flex-wrap">
                                        <div class="p-2">
                                            <span class="text-white"><i class="fas fa-check"></i></span>
                                        </div>
                                        <div class="p-2 flex-grow-1 text-left">
                                            <p class="h5 text-white">{{mail.message}}</p>
                                        </div>
                                        <div class="p-2">
                                            <p class="h5 text-white">{{elapsed(mail)}}</p>
                                        </div>
                                        <div class="p-2">
                                            <button type="button" class="ml-2 mb-1 close" aria-label="Close">
                                                <span aria-hidden="true" class="text-white"><i class="fas fa-times"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="unread-tab">
                            <div *ngIf="unread.length === 0">
                                <p class="h5 text-white">You have no new mail. (Needs formatting)</p>
                            </div>
                            <ul *ngFor="let mail of unread; index as i" class="list-group list-group-flush">
                                <li class="list-group-item outline-no-border">
                                    <div class="tab d-flex d-row flex-wrap">
                                        <div class="p-2">
                                            <span class="text-white"><i class="fas fa-exclamation"></i></span>
                                        </div>
                                        <div class="p-2 flex-grow-1 text-left">
                                            <p class="h5 text-white">{{mail.message}}</p>
                                        </div>
                                        <div class="p-2">
                                            <p class="h5 text-white">{{elapsed(mail)}}</p>
                                        </div>
                                        <div class="p-2">
                                            <button type="button" class="ml-2 mb-1 close"  (click)="mark(i)" aria-label="Close">
                                                <span aria-hidden="true" class="text-white"><i class="fas fa-times"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>