<div class="container">
  <div class="col-12 text-center">
    <h1 class="display-4 text-white">Profile</h1>
    <p class="lead text-white">
      It's good to update...... once a year for security purposes!
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-around outline shadows flex-wrap">
    <div class="p-2 text-center align-self-center">
      <p class="h4 lead text-white">{{user.bytes}} <br/> Byte Points </p>
    </div>
    <div class="p-2 text-center">
      <img src="../../../assets/images/profile_pic.png" class="rounded" alt="Profile pic" style="width: 20%; height: 100%;">
    </div>
    <div class="p-2 text-center align-self-center">
      <p class="h4 lead text-white">{{user.group.faction.points}} <br/> Faction Points </p>
    </div>
  </div>
  <div class="card text-center bg-purple outline shadows">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link non-active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link non-active" id="badges-tab" data-toggle="tab" href="#badges" role="tab" aria-controls="badge" aria-selected="false">Badges</a>
          </li>
        </ul>
    </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active text-white" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h5 class="card-title text-white">Group: <br> {{user.group.code}}</h5>
          <h5 class="card-title text-white">Mentor: <br> {{user.group.staff.name}}</h5>
        </div>
        <div class="tab-pane fade text-white" id="badges" role="tabpanel" aria-labelledby="badges-tab">
          <div class="d-flex d-row justify-content-around flex-wrap mb-5">
            <div *ngFor="let award of user.awards">
              <div class="order-{{award.id}} p-1">
                <div class="text-center">
                  <img src="{{award.image}}" class="rounded" alt="Profile pic" style=" width: 50%; height: 50%">
                </div>
              </div>
            </div>
          </div>
  </div>
</div>