<div class="container">
  <div class="col-12 text-center">
    <h1 class="display-thick-4 text-primary">Profile</h1>
    <p class="lead font-italic">
      Do we even exist?
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-column justify-content-around outline shadows flex-wrap">
    <div class="d-flex flex-row justify-content-center">
      <div class="p-2">
        <h4 class="card-title text-white">{{user.name}}</h4>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">    
      <div class="p-2 text-left align-self-center mb-3">
        <img src="../../../assets/images/profile_pic.png" class="rounded" alt="Profile pic" style="width: 100px; height: 100px;">
      </div>
      <div class="p-2 text-left align-self-center">
        <div class="row">
          <div class="p-1 align-self-center">
            <h6 class="lead card-title text-white">Group:</h6>
          </div>
          <div class="p-1 align-self-center">
            <p class="h6 text-white">{{user.group.code}}</p>
          </div>
        </div>
        <div class="row">
          <div class="p-1 align-self-center">
            <h6 class="lead card-title text-white">Mentor:</h6>
          </div>
          <div class="p-1 align-self-center">
            <p class="h6 text-white">{{user.group.staff.name}}</p>
          </div>
        </div>
      </div>
      <div class="p-2 text-left align-self-center">
        <h6 class="lead text-white">Faction Points </h6>
        <p class="h6 text-white">{{user.group.faction.points}} </p>
      </div>
      <div class="p-2 text-left align-self-center">
        <h6 class="lead text-white">Byte Points</h6>
        <p class="h6 text-white">{{user.bytes}}</p>
      </div>
    </div>
  </div>
  <div class="card text-center bg-purple outline shadows">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link non-active active" id="badges-tab" data-toggle="tab" href="#badges" role="tab"
            aria-controls="badge" aria-selected="false">Badges</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active text-white" id="badges" role="tabpanel" aria-labelledby="badges-tab">
        <div class="d-flex d-row justify-content-around flex-wrap mb-5">
          <div *ngFor="let award of user.awards">
            <div class="order-{{award.id}} p-1">
              <div class="text-center">
                <img src="{{award.image}}" class="rounded" alt="Profile pic" style=" width: 50%; height: 50%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>