<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Events</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-4 text-White">Events</h1>
    <p class="lead">
      What's on during this month......
    </p>
  </div>
</div>
<!--Secondary Nested View-->
<div class="row">
  <div class="col-1"></div>
  <div class="col-11">
    <div class="row">
      <!--Apply *ngfor for sections below this comment-->
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src='../../assets/images/Events.jpg' alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #AA54AA;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white">Find More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
