.events-custom {
    /*background-color: #564f6f;*/
    background-color: #564F6F;
}
.outline {
    border: 3px solid #802BB1;
    margin-bottom: 5%;
    opacity: 0.9;
}

.overlay {
    position: relative;
}

.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
}

.overlay:hover:before{
    cursor: pointer;
    display: block;
}

.dark:before {
    background-color: rgba(0,0,0,0.1);
}

.shadows {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

