<div *ngIf="screen?.enabled">
    <div class = "loading-backdrop show"></div>
    <div class = "loading show" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="text-center">
                        <div class="spinner-border text-info" style="width:15rem; height:15rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-2 text-white">{{screen?.title}}</h1>
                        <p>
                            <em>{{screen?.description}}</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
