.bg-main {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#5b5b5b 20%,#5b5b5b 20%), url('../../assets/images/Main_bg.jpg'); 
    background-position: center; 
    background-repeat: repeat; 
    background-size: fill;
    background-blend-mode: darken;
}

#sidebar, #sidebar-header {
    background-color: #8b2f8a;
}

#sidebar a:hover, #sidebar a:visited, #sidebar a:link, #sidebar  a:active {
    text-decoration: none;
}

#sidebar a:hover {
    cursor: pointer;
}
