<div class="row">
  <div class="col-12 text-center">
      <h1 class="display-thick-4 text-primary">New Event</h1>
      <p class="lead">
          Make it an eventful semester
      </p>
  </div>
</div>
<!--Secondary Nested View-->
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <form class="text-white">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" placeholder="Title">
          </div>
          <div class="form-group">
              <label for="Date">Date</label>
              <input type="date" class="form-control" id="Date" placeholder="Date">
          </div>
          <div class="form-group">
              <label for="Category">Category</label>
              <select class="custom-select" id="Category" placeholder="Category">
                <option selected>Choose...</option>
                <option value="Volunteer">Volunteer</option>
                <option value="Community-Service">Community Service</option>
              </select>
          </div>
          <div class="form-group">
              <label for="Bytes">Bytes</label>
              <input type="text" class="form-control" id="Bytes" placeholder="Bytes">
          </div>
          <div class="form-group">
              <label for="ImageUpload">Image Upload</label>
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="ImageUpload">
                  <label class="custom-file-label" for="ImageUpload">Choose file</label>
              </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </div>
  <div class="col"></div>
</div>

