<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 text-white">Rewards</h1>
        <p class="lead">
            Cash in your Bytes here!
        </p>
    </div>
</div>
<!--Secondary Nested View-->
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 display-lg-above">
        <div class="row justify-content-between">
            <div class="p-1" *ngFor="let reward of rewards.displayed">
                 <app-reward-card (details)="expand($event)" (redemption)="redeem($event)" [reward]="reward"></app-reward-card>
            </div>
        </div>
    </div>
    <div class="col-10 display-lg-below">
        <div class="row justify-content-center">
            <div class="p-1" *ngFor="let reward of rewards.displayed">
                <app-reward-card (details)="expand($event)" (redemption)="redeem($event)" [reward]="reward"></app-reward-card>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <app-pagination-buttons [display]="rewards" [colour]="'#E57682'"></app-pagination-buttons>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalMoreDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content outline-modal" style="width:45rem;">
            <div class="modal-header">
                <h5 class="modal-title text-white font-weight-normal">Title</h5>
                <br/>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="../../../assets/images/Events.jpg" class="rounded" alt="Events" style="width:500px; height:281px;">
                </div>
                <div class="media">
                    <div class="media-body">
                        <p class="text-white"><i class="fas fa-money-bill"></i> ?? Bytes</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn bg-violet text-white">Save changes</button>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary disabled">Edit</button>
                <button type="button" class="btn bg-violet text-white" data-toggle="modal" data-target="#ConfirmationModal" data-dismiss="modal">Redeem</button>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal" id="ConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content outline-modal">
        <div class="modal-header">
          <h5 class="modal-title text-white">Modal title</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="h6 font-weight-light text-white">Are you sure you want to purchase this product?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-violet text-white">Confirmed</button>
        </div>
      </div>
    </div>
  </div>