<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 text-white">Rewards</h1>
        <p class="lead">
            Cash in your Bytes here!
        </p>
    </div>
</div>
<!--Secondary Nested View-->
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 display-lg-above">
        <div class="row justify-content-between">
            <div class="p-1" *ngFor="let reward of rewards.displayed">
                 <app-reward-card (details)="expand($event)" (redemption)="redeem($event)" [reward]="reward"></app-reward-card>
            </div>
        </div>
    </div>
    <div class="col-10 display-lg-below">
        <div class="row justify-content-center">
            <div class="p-1" *ngFor="let reward of rewards.displayed">
                <app-reward-card (details)="expand($event)" (redemption)="redeem($event)" [reward]="reward"></app-reward-card>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <app-pagination-buttons [display]="rewards" [colour]="'#E57682'"></app-pagination-buttons>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

