<!--<div id="alerts" *ngFor="let a of alerts" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <img src="..." class="{{alert.image}}" alt="...">
            <strong class="mr-auto">{{alert.header}}</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{alert.message}}
        </div>
    </div>
</div>-->

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 100px;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

        <!-- Creat Loop to iterate toasts within -->
        <div class="toast outline overlay dark shadows" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-dark">
                <img src="../../assets/images/exclamation-circle-solid.svg" class="rounded mr-2 text-white" alt="..." style="width:15px; height:15px;">
                <strong class="mr-auto text-light">Alert Situation</strong><!--{{alert.header}}-->
                <small class="text-muted">11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body text-light">
                Hello, world! This is a toast message.<!--{{alert.message}}-->
            </div>
        </div>

    </div>
</div>