<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <!-- Sidebar (Student)  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../assets/images/Logo.png" class="img-fluid img-thumbnail" style="background: transparent; border: 0px">
    </div>
    <ul class="list-unstyled components">
      <li class="text-center">
        <a routerLink = '/event'><span><i class="fas fa-calendar-alt"></i></span><br />Events</a>
      </li>
      <li class="text-center">
        <a routerLink= '/profile'><span><i class="fas fa-user-circle"></i></span><br />Profile</a>
      </li>
      <li class="text-center">
        <a routerLink= '/leaderboard'><span><i class="fa fa-trophy"></i></span><br />Leader<br />board</a>
      </li>
      <li class="text-center">
        <a routerLink ='/medCert'><span><i class="fas fa-file-medical"></i></span><br />MCs</a>
      </li>
      <li class="text-center">
        <a routerLink = '/reward'><span><i class="fas fa-gift"></i></span><br />Rewards</a>
      </li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li class="text-center">
        <a class="download"><span><i class="fas fa-sign-out-alt"></i></span><br />Logout</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content" style="background-color: #ffffff;">
    <!--Top Navigation Row-->
    <div class="row">
      <div class="col align-self-center" style="margin: 50px;">
        <button type="button" id="sidebarCollapse" class="btn btn-info btn-lg">
          <i class="fas fa-align-left"></i>
        </button>
      </div>
    </div>
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>
