.dark:before {
    background-color: rgba(0,0,0,0.1);
}

.outline {
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.9;
}

.events-custom-pad-full {
    /*background-color: #564f6f;*/
    background-color: #4c495d;
    height: 170px;
}

.front-float {
    z-index: 1000;
}

.outline-border {
    border: 3px solid #802BB1;
    margin-bottom: 5%;
    opacity: 0.9;
}

.outline-modal {
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.9;
    background-color: #2d283e;
}

.outline-pagination {
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#4c495d 20%,#4c495d 20%); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.8;
}


.shadows {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
    background-color: #ffffff;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 824px) {
    .display-lg-above {
        display: none;
    }
}

@media (min-width: 823px) {
    .display-lg-below {
        display: none;
    }
}
