<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 text-white">Events</h1>
        <p class="lead">
            What's trending......
        </p>
    </div>
</div>

<!--Secondary Nested View-->
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <app-pagination-buttons [display]="events" [colour]="'#7e1e80'"></app-pagination-buttons>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10 display-lg-above">
        <div class="row justify-content-around">
            <div class="p-1" *ngFor="let event of events.displayed">
                <app-event-card (details)="details($event)" [event]="event"></app-event-card>
            </div>
        </div>
    </div>
    <div class="col-10 display-lg-below">
        <div class="row justify-content-center">
            <div class="p-1" *ngFor="let event of events.displayed">
                <app-event-card (details)="details($event)" [event]="event"></app-event-card>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <app-pagination-buttons [display]="events" [colour]="'#7e1e80'"></app-pagination-buttons>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content outline-modal" style="width:45rem;">
            <div class="modal-header">
                <h5 class="modal-title text-white font-weight-normal">{{selected?.title}}</h5>
                <br />
                <h6 class="text-white font-weight-light" style="font-size:0.8rem;">{{selected?.date.toLocaleDateString('en-US',
                    { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</h6>
            </div>
            <div class="modal-body">
                <div class="d-flex d-row flex-wrap justify-content-left align-items-center">
                    <div class="p-1">
                        <div class="outline-alert">
                            <div class="media">
                                <img src="../../../assets/images/profile_pic.png" class="align-self-center mr-3" style="width:3rem;"
                                    alt="badges">
                                <div class="media-body">
                                    <h6 class="mt-3 text-white font-weight-light">{{selected?.staff}}</h6>
                                    <p class="text-white">Last updated: {{selected?.updated.toLocaleDateString('en-US',
                                        { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <div class="outline-alert">
                            <div class="media" style="margin-bottom:2px; margin-left: 10px;">
                                <div class="media-body">
                                    <h6 class="mt-3 text-white font-weight-light">Category</h6>
                                    <p class="text-white font-weight-light">{{selected?.category.name | category}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <div class="outline-alert">
                            <div class="media" style="margin-bottom:2px; margin-left: 10px;">
                                <div class="media-body">
                                    <h6 class="mt-3 text-white font-weight-light">Bytes</h6>
                                    <p class="text-white font-weight-light"> {{selected?.points}} <i class="fas fa-money-bill"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src={{selected?.image}} class="rounded" alt="Event" style="width:500px; height:281px;">
                </div>
                <p class="h5 text-white"></p>
                <p>{{selected?.description}}</p>
            </div>
            <div class="modal-footer" [ngSwitch]="selected?.enrolement">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" *ngIf="authentication.identity().role == 'staffs'">Edit</button>
                <button *ngSwitchCase="'Unenrolled'" (click)="enrol()" data-dismiss="modal" type="button" class="btn btn-success text-white">Enrol</button>
                <button *ngSwitchCase="'Interested'" (click)="unenrol()" data-dismiss="modal" type="button" class="btn btn-warning text-white">Unenrol</button>
                <button *ngSwitchCase="'Enrolled'" type="button" class="btn btn-info text-white unclickable">Enrolled</button>
                <button *ngSwitchCase="'Rejected'" type="button" class="btn btn-danger text-white unclickable">Rejected</button>
            </div>
        </div>
    </div>
</div>