<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-4 text-white">Events</h1>
    <p class="lead">
      What's happening this month......
    </p>
  </div>
</div>
<!--Secondary Nested View-->
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row justify-content-center">
      <div class="p-2" *ngFor="let event of events.displayed">
        <div class="card overlay dark outline shadows" style="width: 18rem;">
          <div class="card-header text-white" style="background-color: #8B2F8A;">
            <span class="badge badge-secondary bg-warning">New</span>
          </div>
          <img src="../../assets/images/Events.jpg" alt='Test Image' style="height: 150px;">
          <div class="card-body" style="background-color: #8B2F8A;">
            <h5 class="card-title text-white">Title</h5>
            <p class="card-text text-white">Description</p>
            <div class="row rounded">
              <div class="col">
                <a href="#" class="btn btn-info btn-sm text-white" data-toggle="modal" data-target="#exampleModalCenter">Find
                  More....</a>
              </div>
              <div class="col d-flex justify-content-around">
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-star"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-heart"></i></span></a>
                <a href="#" class="btn btn-outline-light btn-sm"><span><i class="fa fa-times-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content outline-modal">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Title</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h5 text-white">Subtitle</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
          quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <hr>
        <p class="h5 text-white">Descriptions</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
          quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn bg-violet text-white">Save changes</button>
      </div>
    </div>
  </div>
</div>
