.bg-purple {
    background-color: #AA54AA;
}

.bg-orchid {
    background-color: #7e1e80;
}

.bg-violet {
    background-color: #b637fb;
}

.bg-violet:hover {
    background-color: #600392;
}

.text-purple {
    color: #9505e3;
}

.text-orchid {
    color: #7e1e80;
}

.text-violet {
    color: #b637fb
}

.dark:before {
    background-color: rgba(0,0,0,0.1);
}

.outline-modal {
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#3d393b 20%,#3d393b 20%); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.9;
}

.outline-pagination {
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#3d393b 20%,#3d393b 20%); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.8;
}

.outline-alert {
    border: 1px solid transparent;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#3d393b 20%,#3d393b 20%); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.9;
}


.shadows {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
    background-color: #ffffff;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 824px) {
    .display-lg-above {
        display: none;
    }
}

@media (min-width: 823px) {
    .display-lg-below {
        display: none;
    }
}
