.pagination {
    display: inline-block;
}

.pagination a {
    cursor: pointer;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active):not(.disabled) {
    background-color: #D1D7E0;
    border-radius: 5px;
}

.pagination a.disabled {
    color: gray;
    cursor: default
}
