<div (click)="details.next(reward)" data-toggle="modal" data-target="#details" class="card outline overlay dark shadows" style="width:18rem;">
    <img class="img-fluid" src={{reward.image}} alt="Reward Image" style="height: 187px;">
    <div class="card-body events-custom">
        <h6 class="card-title text-secondary" [ngStyle]="{'padding-bottom.px': pad(reward.description, 34, 20)}">{{reward.description | shorten:58}}</h6>
        <div class="media mb-3">
            <div class="media-body">
                <p class="h6 font-weight-normal text-secondary"><i class="fas fa-money-bill"></i> {{reward.points}} Bytes</p>
            </div>
        </div>
    </div>
</div>

