<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-thick-4 text-primary">Medical Certificate Submission</h1>
        <p class="lead">
            Hope you're feeling better now...
        </p>
    </div>
</div>
<!--Secondary Nested View-->
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form (ngSubmit)="submit()" #submitMCForm="ngForm" class="text-white">
            <img src="{{picURL}}" class="img-fluid custom-alignment" alt="MC Submission">
            <div class="form-group">
                <label for="fileSubmission">Medical Certificate</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileSubmission" accept="image/*" (change)="getFile($event)" required>
                    <label class="custom-file-label" for="customFile">{{selected}}</label>
                </div>
                <div *ngIf="error" class="alert alert-danger">
                    {{error}}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!submitMCForm.form.valid">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

