<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" style="margin-top:10%;">
            <div class="row" style="width: inherit; height: inherit;">
                <div class="col">
                </div>
                <div class="text-center" style="width: inherit; height: inherit;">
                    <div class="spinner-border text-info" style="width:15rem; height:15rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-2 text-white">Loading</h1>
                    <p>
                        <em>Please click <a id="login" (click)="authentication.login()">here</a> if you are not redirected
                            within a few seconds
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
