<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                </div>
                <div class="spinner-border text-light" style="width: 12rem; height: 12rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </body>
</html>