<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-thick-4 text-primary">Edit Reward</h1>
        <p class="lead">
            Make it an <span class="font-italic">eventful</span> semester
        </p>
    </div>
</div>
<!--Secondary Nested View-->
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="outline-border events-custom">
            <div class="container">
                <form (ngSubmit)="edit()" #editRewardForm="ngForm">
                    <div class="d-flex d-row flex-wrap justify-content-center">
                        <div class="p-3 align-self-center mr-5">
                            <img src={{url}} class="rounded float-left" alt="..." style="width:300px; height:300px;">
                        </div>
                        <div class="p-3 flex-grow-1 align-self-center">

                            <div class="form-group">
                                <label for="description" class="form-label lead text-left">Description</label>
                                <input type="text" required [(ngModel)]="transaction.description" name="description"
                                    #description="ngModel" class="form-control" id="description" placeholder="Title">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-outline-red">
                                    <div *ngIf="description.errors.required">
                                        Title is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="points" class="form-label lead text-left">Bytes</label>
                                <input type="text" required appNumeric [(ngModel)]="transaction.points" name="points"
                                    #points="ngModel" class="form-control" id="points" placeholder="Bytes">
                                <div *ngIf="points.invalid && (points.dirty || points.touched)" class="alert alert-outline-red">
                                    <div *ngIf="points.errors.required">
                                        Bytes is required.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex d-row flex-wrap justify-content-start">
                        <div class="p-3 align-self-center">
                            <div class="float-left">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="ImageUpload">{{selected}}</label>
                                    <input #file type="file" accept="image/*" class="custom-file-input" id="ImageUpload"
                                        (change)="select($event)">
                                </div>
                                <div *ngIf="error" class="alert alert-danger">
                                    {{error}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex d-row flex-wrap justify-content-end">
                        <div class="p-3 align-self-center">
                            <div class="float-right">
                                <button type="submit" class="btn btn-outline-purple" [disabled]="!editRewardForm.form.valid">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>