.outline {
    border: 2px solid #802BB1;
    border-radius: 1rem;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#3d393b 20%,#3d393b 20%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.8;
}

.outline-no-border {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#3d393b 20%,#3d393b 20%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    opacity: 0.8;
}